*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Aula03Noturno/nbproject/private/
/Aula03Noturno/build/
/aula04Noturno/nbproject/private/
/aula04Noturno/build/
/aula04Noturno/dist/
/Aula05Noturno/nbproject/private/
/Aula05Noturno/build/
/Aula06Diurno/nbproject/private/
/Aula06Diurno/build/
/Aula06Noturno/nbproject/private/
/Aula06Noturno/build/
/Lab01Noite/nbproject/private/
/Lab01Noite/build/
/Aula07Noturno/nbproject/private/
/Aula07Noturno/build/
/Aula08Noturno/nbproject/private/
/Aula08Noturno/build/
/Lab02Noite/nbproject/private/
/Aula09Noite/nbproject/private/
/aula10Noite/nbproject/private/
/aula10Noite/build/
/aula11Noite/nbproject/private/
/aula11Noite/build/
/aula12Noite/nbproject/private/
/aula12Noite/build/
/aula13Noite/nbproject/private/